<h2>Meals to Select From</h2>
<br>
<div id="meal-list">
  <a ui-sref="mealNew">Add a new meal</a>
  <div ng-repeat="meal in mealListVm.meals">
    <hr>
      <h3> {{meal.title}} </h3>
        <p> {{meal.body}} </p>
        <p> Calories: {{meal.cals}} </p>
        <a ui-sref="mealShow({id: meal._id})"> More </a>
    <br>
     <button ng-show="mealListVm.authService.isLoggedIn()" type="button" class="btn">Add</button>
<!--   <a ng-click="mealListVm.destroy(meal)"> I don't like this meal </a>-->
    <hr>
  </div>
</div>


