<div id="add-meal">
  <h3> Add a meal </h3>
  <br>
  <br>

  <form id='new-meal' ng-submit="mealNewVm.addMeal()">
    <fieldset class="form-group">
      <label for="title">Name: </label>
      <input type="text" name="title" ng-model="mealNewVm.newMeal.title">
    </fieldset>
    <fieldset class="form-group">
      <label for="about">Description: </label>
      <input type="text" name="body" ng-model="mealNewVm.newMeal.body">
    </fieldset>
    <fieldset class="form-group">
      <label for="calories">Calories: </label>
      <input type="number" name="body" ng-model="mealNewVm.newMeal.cals">
    </fieldset>
    <fieldset class="form-group">
      <label for="protein">Protein: </label>
      <input type="number" name="body" ng-model="mealNewVm.newMeal.protein">
    </fieldset>
    <fieldset class="form-group">
      <label for="fats">Fats: </label>
      <input type="number" name="body" ng-model="mealNewVm.newMeal.fats">
    </fieldset>
    <fieldset class="form-group">
      <label for="carbs">Carbohydrates: </label>
      <input type="number" name="body" ng-model="mealNewVm.newMeal.carbs">
    </fieldset>
    <fieldset class="form-group">
      <label for="meal-day">Day:</label>
        <select id="meal-day" ng-model='mealNewVm.newMeal.day'>
          <option value="day" disabled>- - Please Select One - -</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Saturday">Sunday</option>
        </select>
    </fieldset>
    <input type="submit" value="Add" class="btn">
  </form>



</div>


